<body>
  <div class="menu">
    <h1>PANDEMIC</h1>
    <ul>
      <li><button (click)="nuevaPartida()">Nueva Partida</button></li>
      <li><button (click)="cargarPartida()">Cargar Partida</button></li>
      <li><button class="" routerLink="../informacion">Información</button></li>
      <li><button (click)="mostrarRanking()" >Ranking de Puntuaciones</button></li>
      <li><button (click)="mostrarAutores()">Autores</button></li>
      <li><button (click)="mostrarVersion()">Versión</button></li>
    </ul>

    <button class="" routerLink="">Inicio de Sesion</button>
    
    
    <div class="informacion" *ngIf="informacion">
      <p>{{ informacion }}</p>
    </div>
  </div>

</body>
