<body>
  <div class="menu">
    <h1>PANDEMIC</h1>
    <ul>
      <li>
        <div class="lista">
          <button class="lista-boton" (click)="toggleDropdown()">Partida</button>
          <div class="dropdown-menu" *ngIf="dropdownVisible">
            <button class="" routerLink="/nueva">Nueva Partida</button>
            <button class="" routerLink="/cargar">Cargar Partida</button>
          </div>
        </div>
      </li>
      <li><button class="" routerLink="/informacion">Información</button></li>
      <li><button (click)="mostrarRanking()">Ranking de Puntuaciones</button></li>
      <li><button (click)="mostrarAutores()">Autores</button></li>
      <li><button (click)="mostrarVersion()">Versión</button></li>
      <li><button class="" routerLink="/perfil">Perfil</button></li>
    </ul>

    <button class="" routerLink="">Salir del Juego</button>

    <div class="informacion" *ngIf="informacion">
      <p>{{ informacion }}</p>
    </div>
  </div>
</body>
