<body>
    <div class="informacion">
        <h1>PANDEMIC</h1>
       
            <h3>📜 Guía del Juego: PANDEMIC 🌍</h3>
            <h3>🎯 Objetivo</h3>
            <p> Evita que las enfermedades se propaguen y colapsen las ciudades. Usa vacunas, controla la infección y gestiona bien los turnos.</p>
            <h3>🎮 Controles y Botones</h3>
            <h4>🔄 Saltar Turno:</h4>
            <p> Avanza el tiempo, pero aumenta la infección.</p>
            <h4>💉 Desarrollar Vacunas:</h4>
            <p> Investiga cada vacuna antes de poder usarla.</p>
            <h4>🚑 Aplicar Vacunas:</h4>
            <p>Reduce la infección de un color específico en una ciudad.</p>
            <h4>🏙️ Seleccionar Ciudad:</h4>
            <p>Muestra su estado de infección y conexiones.</p>
            <h4>📊 Estado de Infección:</h4>
            <p>Tabla con datos de todas las ciudades infectadas.</p>
            <h4>❔ Botón de Ayuda:</h4>
            <p>Muestra esta información en un menú desplegable.</p>
        <button class="" routerLink="../menu">Menu Principal</button>
    </div> 
</body>