<body>
    <div class="informacion">
        <h2>PANDEMIC</h2>
        <p>Unos virus se han despertado y estan infectando a la gente de distintas ciudades tu deber es controlar la infeccion y evitar que se convierta en el mayor cataclismo
            de la historia de la tierra a si que utiliza tu cabeza para poder organizar todos tus turnos y habilidades del personaje para salvar a la humanidad
             ¡MUCHA SUERTE NUESTRO FUTURO ESTA EN TUS MANOS!
      </p>
      
        <button class="" routerLink="../menu">Menu Principal</button>
    </div> 
</body>