<div class="container">
  <img src="/img/mapa_mundo.png" alt="Mapa del mundo" class="fondo">
  <div class="menu">
    <label for="citySelect">Selecciona una ciudad:</label>
    <select id="citySelect" (change)="mostrarInfoDesdeDropdown($event)">
      <option *ngFor="let ciudad of ciudades" [value]="ciudad.name">{{ ciudad.name }}</option>
    </select>
  </div>
  <div *ngIf="mensajeFinal" class="mensaje-final fade-in">
    <h2>{{ mensajeFinal }}</h2>
  </div>

  <svg class="conexiones">
    <ng-container *ngFor="let ciudad of ciudades">
      <line *ngFor="let ady of ciudad.connectedCities"
            [attr.x1]="ciudad.coordinates.x"
            [attr.y1]="ciudad.coordinates.y"
            [attr.x2]="getCoordinates(ady).x"
            [attr.y2]="getCoordinates(ady).y"
            stroke="white" stroke-width="2"/>
    </ng-container>
  </svg>

  <div *ngIf="ciudadSeleccionada" class="informacion fade-in">
    <h3>{{ ciudadSeleccionada.name }}</h3>
    <p><strong>Región:</strong> {{ ciudadSeleccionada.region }}</p>
    <p><strong>Conexiones:</strong> {{ ciudadSeleccionada.connectedCities.join(', ') }}</p>

    <div class="informacion-virus">
      <p><strong>Infección:</strong></p>
      <ul>
        <li class="verde">Verde: {{ ciudadSeleccionada.diseaseCount.green }}</li>
        <li class="rojo">Rojo: {{ ciudadSeleccionada.diseaseCount.red }}</li>
        <li class="azul">Azul: {{ ciudadSeleccionada.diseaseCount.blue }}</li>
        <li class="amarillo">Amarillo: {{ ciudadSeleccionada.diseaseCount.yellow }}</li>
      </ul>
    </div>

    <div class="aplicar-vacunas">
      <h4>Vacunas</h4>
      <button (click)="aplicarVacuna('green')" class="boton-aplicar">Usar Vacuna Verde</button>
      <button (click)="aplicarVacuna('red')" class="boton-aplicar">Usar Vacuna Roja</button>
      <button (click)="aplicarVacuna('blue')" class="boton-aplicar">Usar Vacuna Azul</button>
      <button (click)="aplicarVacuna('yellow')" class="boton-aplicar">Usar Vacuna Amarilla</button>
      <h4>Antidotos</h4>
      <button (click)="aplicarAntidoto('green')" class="boton-aplicar">Usar Antídoto Verde</button>
      <button (click)="aplicarAntidoto('red')" class="boton-aplicar">Usar Antídoto Roja</button>
      <button (click)="aplicarAntidoto('blue')" class="boton-aplicar">Usar Antídoto Azul</button>
      <button (click)="aplicarAntidoto('yellow')" class="boton-aplicar">Usar Antídoto Amarillo</button>
    </div>
  </div>

  <div class="tabla-infeccion">
    <h3>Estado de Infección</h3>
    <table>
      <tr>
        <th>Ciudad</th>
        <th>Verde</th>
        <th>Rojo</th>
        <th>Azul</th>
        <th>Amarillo</th>
      </tr>
      <tr *ngFor="let ciudad of ciudades">
        <td>{{ ciudad.name }}</td>
        <td>{{ ciudad.diseaseCount.green }}</td>
        <td>{{ ciudad.diseaseCount.red }}</td>
        <td>{{ ciudad.diseaseCount.blue }}</td>
        <td>{{ ciudad.diseaseCount.yellow }}</td>
      </tr>
    </table>
  </div>

  <div class="controles">
    <button (click)="avanzarTurno()">Saltar Turno</button>
  </div>

  <div class="caja-desplegables">
    <div class="desplegable">
      <h3 (click)="mostrarVacunas = !mostrarVacunas">Vacunas ⬇</h3>
      <div *ngIf="mostrarVacunas">
        <button (click)="desarrollarVacuna('red')" class="boton-vacuna" data-virus="red">Vacuna Roja</button>
        <button (click)="desarrollarVacuna('blue')" class="boton-vacuna" data-virus="blue">Vacuna Azul</button>
        <button (click)="desarrollarVacuna('yellow')" class="boton-vacuna" data-virus="yellow">Vacuna Amarilla</button>
        <button (click)="desarrollarVacuna('green')" class="boton-vacuna" data-virus="green">Vacuna Verde</button>
      </div>
    </div>
  
    <div class="desplegable">
      <h3 (click)="mostrarAntidotos = !mostrarAntidotos">Antídotos ⬇</h3>
      <div *ngIf="mostrarAntidotos">
        <button (click)="desarrollarAntidoto('red')" class="boton-antidoto" data-virus="red">Antídoto Rojo</button>
        <button (click)="desarrollarAntidoto('blue')" class="boton-antidoto" data-virus="blue">Antídoto Azul</button>
        <button (click)="desarrollarAntidoto('yellow')" class="boton-antidoto" data-virus="yellow">Antídoto Amarillo</button>
        <button (click)="desarrollarAntidoto('green')" class="boton-antidoto" data-virus="green">Antídoto Verde</button>
      </div>
    </div>
  </div>
  
  <div class="acciones-luces">
    <h3>Acciones Disponibles</h3>
    <div class="luces">
      <span *ngFor="let i of [0,1,2,3]" 
            class="luz" 
            [ngClass]="{'apagada': i >= accionesDisponibles}"></span>
    </div>
  </div>

  <div *ngFor="let ciudad of ciudades" class="boton-ciudad"
     [ngClass]="{
       'nivel-0': getInfectionLevel(ciudad) === 0,
       'nivel-1': getInfectionLevel(ciudad) === 1,
       'nivel-2': getInfectionLevel(ciudad) === 2,
       'nivel-3': getInfectionLevel(ciudad) === 3,
       'nivel-4': getInfectionLevel(ciudad) === 4
     }"
     [style.left.px]="ciudad.coordinates.x"
     [style.top.px]="ciudad.coordinates.y"
     (click)="mostrarInfo(ciudad)">
  </div>
  
  <div class="vacunas-disponibles">
    <h4>Vacunas Disponibles</h4>
    <ul>
      <li>Verde: {{ vacunasDisponibles.green }}</li>
      <li>Rojo: {{ vacunasDisponibles.red }}</li>
      <li>Azul: {{ vacunasDisponibles.blue }}</li>
      <li>Amarillo: {{ vacunasDisponibles.yellow }}</li>
    </ul>
  </div>
  <div class="vacunas1-disponibles">
    <h4>Antidotos Disponibles</h4>
    <ul>
      <li>Verde: {{ antidotosDisponibles.green }}</li>
      <li>Rojo: {{ antidotosDisponibles.red }}</li>
      <li>Azul: {{ antidotosDisponibles.blue }}</li>
      <li>Amarillo: {{ antidotosDisponibles.yellow }}</li>
    </ul>
  </div>

  <div class="boton-ayuda-container">
    <button class="boton-ayuda" (click)="toggleAyuda()">❔ Ayuda</button>
    <div class="info-ayuda" *ngIf="mostrarAyuda">
      <h3>Guía de Botones</h3>
      <ul>
        <li><strong>Saltar Turno:</strong> Avanza al siguiente turno.</li>
        <li><strong>Vacuna Verde:</strong> Desarrolla una vacuna para la enfermedad verde.</li>
        <li><strong>Vacuna Roja:</strong> Desarrolla una vacuna para la enfermedad roja.</li>
        <li><strong>Vacuna Azul:</strong> Desarrolla una vacuna para la enfermedad azul.</li>
        <li><strong>Vacuna Amarilla:</strong> Desarrolla una vacuna para la enfermedad amarilla.</li>
        <li><strong>Aplicar Vacuna:</strong> Usa la vacuna en una ciudad afectada.</li>
        <li><strong>Seleccionar Ciudad:</strong> Muestra la información de la ciudad elegida.</li>
        <li><strong>Ciudad color verde:</strong> No hay infeccion.🟢</li>
        <li><strong>Ciudad color amarillo:</strong> Infeccion nivel 1.🟡</li>
        <li><strong>Ciudad color naranja:</strong> Infeccion nivel 2.🟠</li>
        <li><strong>Ciudad color morado:</strong> Infeccion nivel 3.🟣</li>
        <li><strong>Ciudad color rojo:</strong> Infeccion nivel MAXIMO.🔴</li> 
      </ul>
    </div>
    <button routerLink="../menu" class="boton-vuelta">Menú Principal</button>
  </div>
</div>
